.footer__column-link {
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 16px;
    list-style-type: none;
    text-decoration: none;
    padding-left: 0;
    /*border: red 1px solid;*/
    transition-duration: .5s;
}

.footer__column-link:hover {
    color: white;
    opacity: 0.5;
    transition-duration: .5s;
}