.header__link {
    color: #2f80ed;
    text-decoration: none;
    transition-duration: .5s;
}
  
.header__link::after {
    content:'\2192';
}

.header__link:hover {
    color: #2f80ed;
    opacity: 0.5;
    transition-duration: .5s;
}