.cards__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    text-align: center;
    /*border: red 1px solid;*/
    position: relative;
}
