.khan__quote-author {
    margin: 0;
    font-size: 24px;
    font-weight: bolder;
    line-height: 1.15;
    margin-top: 36px;
    margin-bottom: 10px;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}