.feynman__link {
    color: #2f80ed;
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    position: absolute;
    right: 48px;
    text-decoration: none;
}
  
.feynman__link::after {
    content:'\2192';
}

.feynman__link:hover {
    color: #2f80ed;
    opacity: 0.5;
    transition-duration: .5s;
}
